@using System.Data
@model System.Data.DataTable

<div class="pagetitle">
    <h1>Quiz Wise Question Details</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="QuizWiseQuestionList" asp-controller="QuizWiseQuestion">Quiz Wise Questions</a></li>
            <li class="breadcrumb-item active">Quiz Wise Questions Details</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Quiz Name: @ViewBag.QuizName</h5>
                @* <h2>Quiz Name: @ViewBag.QuizName</h2> *@
                <p>Total Questions: @ViewBag.TotalQuestions</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-flex p-3 justify-content-between align-items-center">
                    <h2 class="card-title">Questions (@ViewBag.QuizName)</h2>

                    <a asp-action="AddQuizWiseQuestions" asp-controller="QuizWiseQuestion" class="btn btn-primary" asp-route-quizName="@ViewBag.QuizName" asp-route-totalQuestions="@ViewBag.TotalQuestions">
                        <i class="bi bi-plus"></i> Add Questions
                    </a>

                </div>
                <table class="table datatable">

                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Option A</th>
                            <th>Option B</th>
                            <th>Option C</th>
                            <th>Option D</th>
                            <th>Correct Option</th>
                            <th>Marks</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow datarow in Model.Rows)
                        {
                            <tr>
                                <td>@datarow["QuestionText"]</td>
                                <td>@datarow["OptionA"]</td>
                                <td>@datarow["OptionB"]</td>
                                <td>@datarow["OptionC"]</td>
                                <td>@datarow["OptionD"]</td>
                                <td>@datarow["CorrectOption"]</td>
                                <td>@datarow["QuestionMarks"]</td>
                                <td>
                                    <a asp-action="DeleteQuizWiseQuestion" asp-controller="QuizWiseQuestion" asp-route-quizWiseQuestionID="@datarow["QuizWiseQuestionsID"]" class="btn btn-danger btn-sm" title="Delete">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
