@using System.Data
@model System.Data.DataTable
<div class="pagetitle">
    <h1>Quiz Wise Question List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="QuizWiseQuestionList" asp-controller="QuizWiseQuestion">QuizWiseQuestion</a></li>
            <li class="breadcrumb-item active">QuizWiseQuestion List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search Quiz</h5>
                <!-- No Labels Form -->
                <form class="row g-3">
                    <div class="col-md-4">
                        <label for="quizSearch" class="form-label">Select Quiz</label>
                        <select id="quizSearch" class="form-select border border-black">
                            <option selected>Select quiz</option>
                            <option>maths</option>
                            <option>sci</option>
                        </select>
                    </div>
                    <div class="text-start">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form><!-- End No Labels Form -->
            </div>

            <div class="p-2">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success d-flex justify-content-between">
                        @TempData["SuccessMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="background-size:50%"></button>
                    </div>
                }
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger d-flex justify-content-between">
                        @TempData["ErrorMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="background-size:50%"></button>
                    </div>
                }
            </div>

        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-flex p-3 justify-content-between align-items-center">
                    <h2 class="card-title">Quiz Wise Questions</h2>

                    <a asp-action="QuizWiseQuestionForm" asp-controller="QuizWiseQuestion" class="btn btn-primary">
                        <i class="bi bi-plus"></i> Add Quiz Wise Question
                    </a>
                </div>
                <table class="table datatable">

                    <thead>
                        <tr>
                            <th>Quiz Name</th>
                            <th>Entered Questions</th>
                            <th>User Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow datarow in Model.Rows)
                        {
                            <tr>
                                <td>@datarow["QuizName"]</td>
                                <td>@datarow["Entered Questions"]</td>
                                <td>@datarow["UserName"]</td>
                                <td>
                                    <a class="btn btn-info btn-sm text-white" title="Details" asp-action="QuizWiseQuestionDetails" asp-controller="QuizWiseQuestion" asp-route-quizId="@datarow["QuizID"]" asp-route-quizName="@datarow["QuizName"]" asp-route-totalQuestions="@datarow["TotalQuestions"]"><i class="bi bi-info-circle"></i></a>
                                    <a class="btn btn-primary btn-sm" title="Edit"><i class="bi bi-pencil"></i></a>
                                    <a class="btn btn-danger btn-sm" title="Delete"><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>