@model QuestionModel
<div class="pagetitle">
    <h1>Question Forms</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Question</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active">AddEdit</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Question Add/Edit</h5>
                <!-- No Labels Form -->
                @using (Html.BeginForm("AddQuestion", "Question", FormMethod.Post, new { @class = "row g-3" }))
                {
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.QuestionText, new { @class = "form-control border border-black", @placeholder = "Question Text" })
                        @Html.ValidationMessageFor(m => m.QuestionText, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CorrectOption, new { @class = "form-control border border-black", @placeholder = "Correct Option" })
                        @Html.ValidationMessageFor(m => m.CorrectOption, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.OptionA, new { @class = "form-control border border-black", @placeholder = "Option A" })
                        @Html.ValidationMessageFor(m => m.OptionA, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.OptionB, new { @class = "form-control border border-black", @placeholder = "Option B" })
                        @Html.ValidationMessageFor(m => m.OptionB, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.OptionC, new { @class = "form-control border border-black", @placeholder = "Option C" })
                        @Html.ValidationMessageFor(m => m.OptionC, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.OptionD, new { @class = "form-control border border-black", @placeholder = "Option D" })
                        @Html.ValidationMessageFor(m => m.OptionD, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        <label for="IsActive" class="form-label">Is Active</label>&nbsp;&nbsp;&nbsp;
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(m => m.IsActive, true, new { @class = "form-check-input border border-black", @id = "inlineRadio1" })
                            <label class="form-check-label" for="inlineRadio1">True</label>
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(m => m.IsActive, false, new { @class = "form-check-input border border-black", @id = "inlineRadio2" })
                            <label class="form-check-label" for="inlineRadio2">False</label>
                        </div>
                        @Html.ValidationMessageFor(m => m.IsActive, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.UserID, new { @class = "form-control border border-black", @placeholder = "User ID" })
                        @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "text-danger" })
                    </div>

                    <div class="text-start">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                    </div>
                }


            </div>
        </div>
    </div>
</section>
