@using System.Data
@model System.Data.DataTable

<style>
    .table td, .table th {
        white-space: normal;
        word-wrap: break-word;
    }
</style>

<div class="pagetitle">
    <h1>Question List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="QuestionList" asp-controller="Question">Question</a></li>
            <li class="breadcrumb-item active">Question List</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search Question</h5>
                <form class="row g-3" asp-action="QuestionList" asp-controller="Question" method="get">
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="questionText" placeholder="Question Text"
                               value="@ViewBag.QuestionText">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="correctOptions" placeholder="Correct Options"
                               value="@ViewBag.CorrectOptions">
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control" name="questionMarks" placeholder="Question Marks"
                               value="@ViewBag.QuestionMarks">
                    </div>
                    <div class="text-start">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="reset" class="btn btn-secondary" onclick="resetForm()">Reset</button>
                    </div>
                </form>
                <br>

                <div class="p-2">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success d-flex justify-content-between">
                            @TempData["SuccessMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                                    style="background-size:50%"></button>
                        </div>
                    }
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger d-flex justify-content-between">
                            @TempData["ErrorMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                                    style="background-size:50%"></button>
                        </div>
                    }
                </div>

                <h2 class="card-title">Question List</h2>
                <div class="d-flex p-3 justify-content-end">
                    <a asp-action="QuestionForm" asp-controller="Question" class="btn btn-primary w-20">
                        <i class="bi bi-plus"></i> Add Question
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Question ID</th>
                            <th>Question Level</th>
                            <th>Question Text</th>
                            <th>Option A</th>
                            <th>Option B</th>
                            <th>Option C</th>
                            <th>Option D</th>
                            <th>Correct Option</th>
                            <th>Question Marks</th>
                            <th>UserID</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (DataRow datarow in Model.Rows)
                        {
                            <tr>
                                <td>@datarow["QuestionID"]</td>
                                <td>@datarow["QuestionLevel"]</td>
                                <td>@datarow["QuestionText"]</td>
                                <td>@datarow["OptionA"]</td>
                                <td>@datarow["OptionB"]</td>
                                <td>@datarow["OptionC"]</td>
                                <td>@datarow["OptionD"]</td>
                                <td>@datarow["CorrectOption"]</td>
                                <td>@datarow["QuestionMarks"]</td>
                                <td>@datarow["UserID"]</td>
                                <td>
                                    <div class="d-flex gap-2">
                                        <a asp-action="editQuestion" asp-controller="Question"
                                           asp-route-id="@datarow["QuestionID"]" class="btn btn-primary btn-sm"
                                           title="Edit"><i class="bi bi-pencil"></i></a>
                                        <a asp-action="deleteQuestion" asp-controller="Question"
                                           asp-route-id="@datarow["QuestionID"]" class="btn btn-danger btn-sm"
                                           title="Delete"><i class="bi bi-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        function resetForm() {
            document.querySelector('form').reset();
            window.location.href = '@Url.Action("QuestionList", "Question")';
        }
    </script>
}