@using System.Data
@model System.Data.DataTable
<div class="pagetitle">
    <h1>Question Level List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="QuestionLevelList" asp-controller="QuestionLevel">QuestionLevel</a></li>
            <li class="breadcrumb-item active">Question Level List</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search Question Level</h5>
                <form class="row g-3" asp-action="QuestionLevelList" asp-controller="QuestionLevel" method="GET">
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Quiz Name">
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control" placeholder="Total Question">
                    </div>
                    <div class="col-md-4">
                        <input type="date" class="form-control" placeholder="Quiz Date">
                    </div>
                    <div class="text-start">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form>
                <br>
                <h2 class="card-title">Question Level List</h2>
                <div class="d-flex p-3 justify-content-end">
                    <a asp-action="QuestionLevelForm" asp-controller="QuestionLevel" class="btn btn-primary w-20">
                        <i class="bi bi-plus"></i> Add Question Level
                    </a>
                </div>
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>QuestionLevelID</th>
                            <th>QuestionLevel</th>
                            <th>User Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow datarow in Model.Rows)
                        {
                            <tr>
                                <td>@datarow["QuestionLevelID"]</td>
                                <td>@datarow["QuestionLevel"]</td>
                                <td>@datarow["UserName"]</td>
                            
                                <td>
                                    <div class="d-flex gap-2">
                                        <a asp-action="EditQuestionLevel" asp-controller="QuestionLevel" asp-route-id="@datarow["QuestionLevelId"]" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-pencil"></i></a>
                                        <a asp-action="DeleteQuestionLevel" asp-controller="QuestionLevel" asp-route-id="@datarow["QuestionLevelId"]" class="btn btn-danger btn-sm" title="Remove question"><i class="bi bi-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
