@model QuizModel

<div class="pagetitle">
    <h1>Quiz Forms</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Quiz</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active">AddEdit</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quiz Add/Edit</h5>

                    <!-- Horizontal Form -->
                    @using (Html.BeginForm("AddQuiz", "Quiz", FormMethod.Post, new { @class = "row g-3" }))
                    {
                        <div class="row mb-3">
                            <label for="QuizName" class="col-sm-2 col-form-label">Quiz Name</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.QuizName, new { @class = "form-control border border-black", placeholder = "Quiz Name" })
                                @Html.ValidationMessageFor(m => m.QuizName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="TotalQuestions" class="col-sm-2 col-form-label">Total Questions</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.TotalQuestions, new { @class = "form-control border border-black", placeholder = "Total Questions", type = "number" })
                                @Html.ValidationMessageFor(m => m.TotalQuestions, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="QuizDate" class="col-sm-2 col-form-label">Quiz Date</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.QuizDate, new { @class = "form-control border border-black", placeholder = "Quiz Date", type = "date" })
                                @Html.ValidationMessageFor(m => m.QuizDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="UserID" class="col-sm-2 col-form-label">User ID</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.UserID, new { @class = "form-control border border-black", placeholder = "User ID", type = "number" })
                                @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="text-start">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a href="@Url.Action("QuizList", "Quiz")" class="btn btn-secondary">Cancel</a>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</section>
